<!-- <div class="container">
  <div class="row">
    <div class="row">
      <div class="col-md-3 shadow detailNew">
        <h2>About bank</h2>
      </div>
      <div class="row">
        <div class="col-md-3 shadow detailNew">
          <h2>Balance</h2>
    </div>  
    </div>
    
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-3 shadow detailNew">
        <h2>Credit Checks</h2>
      </div>

      
      </div>
    </div>
  </div>
</div> -->
<h1>Welcome Customers</h1>

    <p>"A healthy banking system is one of the vital parts of a nations foundation"</p>

    <h4>click on  the above onboarding button and fill the details,click on submit button.</h4>